.brands {
    background-color: white;
    padding: 50px 0px;
    margin-top: 50px;

    .title {
        font-size: 30px;
    }

    .brand_items {
        // display: grid;
        // gap: 30px;
        // grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        .item {
            max-width: 160px;
            padding: 20px;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

    }
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
