.modal_category_left_side_show{
    border-radius: 5px;
    padding: 0px;

    .category_list{
        padding: 20px;
    }
}

.left_category_title{
    background-color: #16346d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 12px 16px;
    border-radius: 8px 8px 0px 0px;
}
