.product {
    background-color: #ede9e9;
    position: relative;
    padding: 2px;
    overflow: hidden;
    max-width: 250px;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: -100%;
        left: -100%;
        background-color: red;
        position: absolute;
        z-index: 1;
        transition-duration: 1s;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        bottom: -100%;
        right: -100%;
        background-color: red;
        position: absolute;
        z-index: 1;
        transition-duration: 1s;
    }

    &:hover {
        &::after {
            top: 0;
            left: 0;
        }

        &::before {
            bottom: 0;
            right: 0;
        }

        .product-box {
            .product-imgbox {
                img {
                    transform: scale(1.1);
                }

                .product-front {
                    .buy_now_btn {
                        bottom: -53px;
                    }
                }
            }
        }
    }

    .product-box {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;
        background: white;
        position: relative;


        .product-imgbox {
            padding: 12px 10px;
            border-bottom: 1px solid #e9e9e9;
            height: 226px;

            @media (min-width: 320px) and (max-width: 400px) {
                height: 150px;
            }

            @media (min-width: 400px) and (max-width: 575px) {
                height: 225px;
            }

            img {
                transition-duration: .3s;
                max-height: 160px;
                object-fit: contain;
                background-color: white;
            }

            .product-front {
                position: relative;

                a {
                    display: block;
                }


            }

            @media (max-width: 768px) {
                .product-icon {
                    -webkit-transform: translateX(0px) !important;
                    transform: translateX(0px) !important;
                    right: 3px;
                    bottom: 3px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .product-detail {
            flex: 1;

            .detail-title {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                /* align-items: self-end; */

                .detail-left {
                    float: unset;

                    .price-title {
                        text-transform: unset;
                        font-weight: 600;
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                        line-height: 22px;
                        letter-spacing: .5px;

                        @media (max-width: 575px) {
                            font-size: 12px;
                            text-align: center;
                            line-height: 15px;
                            font-weight: 500;
                        }
                    }
                }

                .detail-right {
                    float: unset;
                    display: flex;
                    justify-content: center;
                    font-size: 18px;
                    gap: 18px;
                    padding-top: 15px;

                    @media (max-width: 575px) {
                        font-size: 14px;
                    }

                    // .check-price {}

                    // .price {}
                }
            }

        }
    }

}

.buy_now_btn {
    position: absolute;
    padding: 5px 20px;
    background: #6465a5;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    min-width: 118px;
    text-align: center;
    transition-duration: .3s;
    bottom: -125px;

    &:hover {
        background-color: #f15838;
    }
}

.add_to_cart_button {
    .cart_icon {
        position: relative;

        .add_to_cart_button_qty {
            position: absolute;
            top: -8px;
            right: -9px;
            /* border: 1px solid black; */
            color: black;
            border-radius: 3px;
            /* background: gray; */
            font-size: 12px;
            min-width: 23px;
            padding: 0px 3px;
            font-weight: bold;

            @media (max-width: 991.9px) {
                top: -5px;
            }
        }
    }
}
